/11gR2-ee/docker/binaries/linux.x64_11gR2_database_1of2.zip
/11gR2-ee/docker/binaries/linux.x64_11gR2_database_2of2.zip
/12cR1-ee/docker/binaries/linuxamd64_12102_database_1of2.zip
/12cR1-ee/docker/binaries/linuxamd64_12102_database_2of2.zip
/oracle-db-docker.iml
/.idea/
